@font-face {
  font-family: 'Neue Machina';
  src: url('../fonts/NeueMachina/NeueMachina-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd/CircularStd-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../fonts/Urbanist/Urbanist-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT/FuturaPT-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT/FuturaPT-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT/FuturaPT-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT/FuturaPT-Demi.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

  // @font-face {
  //   font-family: 'Futura PT';
  //   src: url('../fonts/FuturaPT/FuturaPT-Bold.woff2') format('woff2');
  //   font-weight: 700;
  //   font-style: normal;
  // }

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT/FuturaPT-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}