// project colors
$white: #ffffff;
$black: #282828;
$blackLight: #2F2F2F;
$textColor: $black;
$primary: #055EFF ;
$gray: #B6B7B9;

$bgColor: #090B0C;

// timing
$hover-duration: .5s;
$duration: .8s;
$timing: cubic-bezier(.17,.67,.55,1.05);
