<footer class="footer">
  <div class="container">
    <div class="footer__row">
      <div class="footer__content">
        <a href="./" class="logo">
          <img src="./img/logo.svg" alt="sharek.finance">
        </a>
        <p>В своём стремлении повысить качество жизни, они забывают, что глубокий уровень погружения, а также свежий
          взгляд на привычные вещи - безусловно открывает новые горизонты для стандартных подходов.</p>
      </div>
      <div class="footer__menu">
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-list__item">
              <a href="#news" class="nav-list__link">
                News
              </a>
            </li>
            <li class="nav-list__item">
              <a href="#faq" class="nav-list__link">
                FAQ
              </a>
            </li>
            <li class="nav-list__item">
              <a href="#monitor" class="nav-list__link">
                Mix Monitor
              </a>
            </li>
            <li class="nav-list__item">
              <a href="#contact" class="nav-list__link">
                Contacts
              </a>
            </li>
          </ul>
        </nav>
        <ul class="footer-social">
          <li class="footer-social__item">
            <a href="#" class="footer-social__link">
              <svg class="social-svg">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link">
              <svg class="social-svg">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#telegram">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer_bottom">
      <p>© 2022 Shake. All Rights Reserved. </p>
    </div>
  </div>
</footer>